*{
    mmargin:0;
    padding:0;
    list-style:none;
}
html,body,
.wrapper{
    width:100%;
}
.wrapper ul{
    width:880px;
    margin:0 auto;
}
.wrapper ul:after{
content:'';
display:block;
clear:both;
}
.wrapper ul li{
    width:220px;
    float:left;

}
.wrapper ul li .item{
    width:200px;
    margin: 0 auto 5px;
    border:1px solid #ccc;
    overflow:hidden;
    border-radius:4px;
}
.wrapper ul li .item img{
    width:200px;
}
.wrapper ul li .item p{
    padding:5px;
}
